# Java compiled output
*.class
*.jar
bin/

# VS Code settings
.vscode/

# IntelliJ IDEA (caso algum colega use)
.idea/
*.iml

# macOS metadata
.DS_Store
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
